# Legacy project folder
/spbu/

# Environment variables
.env
/config/.env

# Binary outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp/
.gocache/

# Local development artifacts
*.log
run_log.txt
.tmp_*

# IDE / OS specific
.DS_Store
Thumbs.db
.vscode/
.idea/
node_modules
